* {
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 120%;
  background: #EAE7DC;
  
}

.header {
  width: 30%;
  margin: 50px auto 0px;
  color: white;
  background: #8E8D8A;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
.headerLogin {
  width: 100%;
  margin: 0px auto 0px;
  color: white;
  background: #8E8D8A;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
form, .content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 10px 10px;
}


.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #5F9EA0;
  border: none;
  border-radius: 5px;
}
#error_msg {
  width: 50%%; 
  margin: 5px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
